<ion-tabs>
    <ion-tab [root]="home" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="chat" tabTitle="Chat" tabIcon="md-chatboxes"></ion-tab>
    <ion-tab [root]="config" tabTitle="Config" tabIcon="md-settings"></ion-tab>
  </ion-tabs>
  