<ion-header>

  <ion-navbar hide-tabs>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--ion-toolbar color="default"-->
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar Elemento" animated="false"></ion-searchbar>
    <!--/ion-toolbar-->
  </ion-navbar>

</ion-header>


<ion-content padding>

<!-- Segmentos -->
  <div>
  <ion-segment [(ngModel)]="option">
    <ion-segment-button value="opt1">
      Destacados
    </ion-segment-button>
    <ion-segment-button value="opt2">
      Recomendados
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="option">
  <ion-list *ngSwitchCase="'opt1'">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="img/thumbnail.jpg">
      </ion-thumbnail>
      <h2>Rusty Destacado</h2>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'opt2'">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="img/thumbnail.jpg">
      </ion-thumbnail>
      <h2>Rusty Recomendado</h2>
    </ion-item>
  </ion-list>
</div>

<ion-list>
   <ion-item *ngFor="let i of items; let j of index" [navPush]="detalle" [navParams]="{index:j}">
    <ion-thumbnail item-start>
      <img [src]="i.pic">
    </ion-thumbnail>
    <h2>{{i.name}}</h2>
  </ion-item>
 </ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>