<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <img [src]="item.pic"/>
        <ion-card-content>
          <ion-card-title>
            {{item.name}}
            </ion-card-title>
          <p>
            {{item.description}}
          </p>
        </ion-card-content>
      </ion-card>

</ion-content>
